body,html{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 50px;
    padding-top: 5px;
    background-color: #282828;
}
h1{
    position: absolute;
    padding: 3px;
    float: right;
    margin-right: 2px;
    margin-top: 10px;
    color:#39ca74;

}
span{
    color:#ffffff;
}
ul{
    width: auto;
    float: right;
    margin-top: 8px;
}
li{
    display: inline-block;
    padding: 2px 15px;
}
a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;

}
a:hover{
    color:#f0c330;
    transition: 0.5s;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30%;
}
.footer-content h4{
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}
body h2{
    color: #000;
    margin: 10px;
}
body p{
    color: #000;
    margin: 20px;
    font-size: 30px;
}
.contact, .Honors{
    margin-right: 15px;
}
.skills{
    margin-left: 10px;
}